{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{#    {% for oauth_handler in oauth_handlers %}#}
{#         <a href="{{ oauth_handler.oauthUrl }}">Sign in via {{ oauth_handler.type.value }}</a>#}
{#    {% endfor %}#}

    <ul>
        {% for social_account_type in social_account_types %}
            <li>
                {{ social_account_type.value }} -
                <a href="/oauth/{{ social_account_type.value | lower }}">Sign in via {{ social_account_type.value }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
